[submodule "external/phobos"]
	path = external/phobos
	url = https://github.com/NotAPenguin0/Phobos
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/FiberTaskingLib"]
	path = external/FiberTaskingLib
	url = https://github.com/RichieSams/FiberTaskingLib
